.headshot {
   height: 200px;
   width: auto;
   border-radius: 50%;
   margin: 30px;
   display: block;
   margin-right: auto;
   margin-left: auto;
}
.about {
   display: block;
   margin-right: auto;
   margin-left: auto;
   width: 80%;
}

.heading {
   display: block;
   margin-right: auto;
   margin-left: auto;
}